@import "variables";

.contact-content {
    background-color: map-get($theme-colors, "second");
    padding: 7%;
}
.content-in-contacts {
    @extend %display-space-between;
}
.container-with-contact {
    @extend %display-column;
    width: 30%;
}
.item-in-contact {
    @extend %display-row;
    border: solid 1px map-deep-get($theme-colors, "border", "white");
    border-radius: 10px;
    margin-bottom: 7%;
    padding: 20px 30px;
    transition: all 0.3s ease-out 0s;
    &:hover {
        box-shadow: map-deep-get($theme-colors, "shadow-for", "box");
    }
}
.picture-for-contact {
    font-size: 20px;
    width: 50px;
    height: 50px;
    background-color: map-get($theme-colors, "main");
    color: map-get($theme-colors, "second");
    border: transparent;
    border-radius: 50%;
    @extend %display-center;
    margin-right: 25px;
}
.info {
    h4 {
        font-size: 20px;
        color: map-get($theme-colors, "main");
        margin-bottom: 10px;
        line-height: 25px;
        font-weight: 600;
    }
    p {
        @extend %style-for-p;
        margin: 0;
    }
}
.form-in-touch {
    text-align: center;
    width: 67%;
    padding: 50px 40px;
    border: solid 1px map-deep-get($theme-colors, "border", "white");
    border-radius: 10px;
    background-color: map-get($theme-colors, "second");
    transition: all 0.3s ease-out 0s;
    z-index: 2;
    &:hover {
        box-shadow: map-deep-get($theme-colors, "shadow-for", "box");
    }
    span {
        font-size: 20px;
        color: map-get($theme-colors, "main");
        font-weight: 700;
        line-height: 30px;
    }
    h2 {
        font-size: 36px;
        font-weight: 600;
        line-height: 45px;
        margin-bottom: 10px;
    }
    p {
        width: 70%;
        @extend %style-for-p;
        margin: 0 auto 0 auto;
    }
}
form {
    @extend %display-column;
}
.row {
    @extend %display-space-between;
    input {
        width: 48%;
        padding: 15px 25px;
        border-radius: 30px;
        border: solid 1px map-deep-get($theme-colors, "border", "white");
    }
    textarea {
        border-radius: 18px;
        border: solid 1px map-deep-get($theme-colors, "border", "white");
    }
    .btn-submit {
        background-color: map-get($theme-colors, "main");
        border: transparent;
        color: map-get($theme-colors, "second");
        border-radius: 48px;
        padding: 12px 24px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        transition: all 0.3s ease-out 0s;
    }
    .btn-submit:hover,
    .btn-submit:focus {
        background-color: map-deep-get($theme-colors, "border", "blue");
    }
}
.map-content {
    margin-top: -150px;
}
