@import "variables";

.footer {
    padding: 100px 0 100px 0;
}
.content-in-footer {
    margin: 0 7% 0 7%;
    @extend %display-space-between;
    align-items: stretch;
}
.logo-picture {
    width: 60%;
    height: 3em;
    margin-top: -10px;
}
.item-in-footer {
    @extend %display-column;
    justify-content: left;
    width: 25%;
    p,
    span {
        @extend %style-for-p;
    }
    h5 {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
    }
    a {
        text-decoration: none;
        cursor: pointer;
        @extend %style-for-p;
    }
}
.min-widt {
    width: 15%;
}
.email-footer {
    height: 55px;
    border-radius: 10px;
    border: solid 1px map-deep-get($theme-colors, "border", "white");
    padding: 0 65px 0 18px;
    width: 100%;
}
.contaner-for-subsc {
    position: relative;
    width: 100%;
}
.btn-footer {
    height: 40px;
    width: 40px;
    background-color: map-get($theme-colors, "main");
    text-align: center;
    color: map-get($theme-colors, "second");
    border: transparent;
    border-radius: 5px;
    line-height: 42px;
    position: absolute;
    top: 15%;
    right: 3%;
    transition: all 0.4s ease;
    &:hover {
        background-color: map-deep-get($theme-colors, "border", "blue");
    }
}
.button-go-to-top {
    position: fixed;
    bottom: 6%;
    right: 3%;
    font-size: 20px;
    padding: 7px 13px 7px 13px;
    border-radius: 5px;
    border: solid 1px map-get($theme-colors, "main");
    background-color: map-get($theme-colors, "main");
    z-index: 1;
    a {
        color: map-get($theme-colors, "second");
    }
    &:hover {
        cursor: pointer;
        background-color: rgb(16, 16, 16);
        bottom: 7%;
        transition: all 0.4s ease;
    }
}
