$mainColor: #155bd5;
$secondColor: white;
$text-color:#6d6d6d;

%style-for-p{
    line-height: 24px;
    font-size: 16px ;
    color: $text-color;
    font-weight: 400;
}

.footer{
    padding: 100px 0 100px 0;
}
.contentInFooter{
    margin: 0 7% 0 7%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}
.logoPicture{
    width: 60%;
    height: 3em;
    margin-top: -10px;
}
.itemInFooter{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 25%;
    p, span{
        @extend %style-for-p;
    }
    h5{
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
    }
    a{
        text-decoration: none;
        cursor: pointer;
        @extend %style-for-p;
    }
}
.minWidt{
    width: 15% ;
}
.email-footer{
    height: 55px;
    border-radius: 10px;
    border: solid 1px #e0e0e0;
    padding: 0 65px 0 18px;
    width: 100%;
}
.contanerForSubsc{
    position: relative;
    width: 100%;
}
.btn-footer{
    height: 40px;
    width: 40px;
    background-color: $mainColor;
    text-align: center;
    color: $secondColor;
    border: transparent;
    border-radius: 5px;
    line-height: 42px;
    position: absolute;top: 15%; right: 3%;
    transition: all .4s ease;
    &:hover{
        background-color: #1c3ab6;
    }
}
.button-go-to-top{    
    position: fixed; bottom: 6%;right: 3%;
    font-size: 20px;
    padding: 7px 13px 7px 13px;
    border-radius: 5px;
    border: solid 1px $mainColor;
    background-color: $mainColor;
    z-index: 1;
    a{
        color: $secondColor;
    }
    &:hover{
        cursor: pointer;
        background-color: rgb(16, 16, 16);
        bottom: 7%;
        transition: all .4s ease;
    }
} 