@media all and (max-width: 70em) {
    .content-main {
        padding: 15% 2% 10% 5%;
    }
    .person-main {
        img {
            width: 28em;
            height: 23em;
        }
    }
    .image-container {
        img:nth-child(2) {
            width: 25em;
            height: 25em;
        }
    }
    .video-content {
        img {
            width: 95%;
        }
    }
    .button-in-work {
        width: 80%;
        button {
            visibility: visible;
        }
    }
    .fifth-content,
    .content-in-footer {
        padding-left: 0%;
        padding-right: 0%;
    }
    .seventh-content,
    .blog-container,
    .contact-content {
        padding-left: 3%;
        padding-right: 3%;
    }
    .item-in-works {
        margin-bottom: 5%;
        img {
            height: 67%;
        }
    }
    .works-content {
        height: 62%;
    }
    .item-in-seven {
        img {
            height: 20em;
        }
    }
    .eighth-content {
        > div {
            width: 70%;
        }
    }
    .picture,
    .content-picture {
        height: 13em;
    }
    .content-in-contacts {
        flex-direction: column;
        justify-content: space-between;
    }
    .container-with-contact {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .item-in-contact {
        margin-bottom: 3%;
        margin-right: 2%;
        width: 47%;
    }
    .form-in-touch {
        width: 100%;
    }
    .item-in-footer {
        width: 29%;
    }
    .min-widt {
        width: 10%;
    }
}

@media all and (max-width: 60em) {
    #menu-right {
        display: none;
    }
    #menu-main {
        display: block;
    }
    .togle-menu,
    .nav {
        visibility: hidden;
    }
    #logo-company {
        opacity: 1;
    }
    .navbar-toggler,
    #logo-company {
        visibility: visible;
    }
    .content-main {
        flex-direction: column;
        padding-left: 10%;
        padding-right: 10%;
    }
    .info-main {
        width: 100%;
        h1 {
            font-size: 2.3em;
        }
    }
    .text-main {
        font-size: 15px;
    }
    .person-main {
        img {
            margin-top: 5%;
            width: 48em;
            height: 35em;
        }
    }
    .second-content {
        flex-direction: column;
    }
    .image-container {
        img:nth-child(2) {
            width: 43em;
            height: 37em;
        }
    }
    .text-container-second {
        width: 100%;
        margin-top: 10%;
    }
    .tab-pane {
        p {
            width: 100%;
        }
    }
    .third-content {
        padding-left: 3%;
        padding-right: 3%;
    }
    .content-in-service {
        justify-content: center;
    }
    .item-in-card {
        width: 43%;
    }
    .button-in-work {
        button {
            font-size: 14px;
        }
    }
    .fifth-content {
        padding-left: 5%;
        padding-right: 5%;
    }
    .seventh-content,
    .blog-container,
    .content-in-footer {
        padding-left: 10%;
        padding-right: 10%;
    }
    .cont-for-wors {
        justify-content: space-between;
        align-items: center;
        padding-left: 10%;
    }
    .item-in-works {
        width: 50%;
        position: relative;
        margin-bottom: 5%;
        img {
            height: 17em;
        }
    }
    .works-content {
        height: 66%;
    }
    .contan-for-plan,
    .content-in-seven,
    .container-for-blog,
    .content-in-footer {
        flex-wrap: wrap;
        justify-content: start;
    }
    .item-in-plan,
    .item-in-seven,
    .item-in-blog,
    .item-in-footer {
        width: 45%;
        margin-bottom: 5%;
        margin-right: 5%;
    }
    .item-in-footer {
        font-size: 15px;
    }
    .eighth-content {
        > div {
            width: 65%;
            font-size: 15px;
        }
    }
    .item-in-contact {
        flex-direction: column;
    }
    .picture-for-contact {
        margin-bottom: 20px;
    }
    .picture,
    .content-picture {
        height: 15em;
    }
    .content-in-clients {
        margin: 0 3% 0 3%;
    }
    .content-in-contacts {
        justify-content: center;
        align-items: center;
    }
    .form-in-touch,
    .container-with-contact {
        width: 80%;
    }
}

@media all and (max-width: 50em) {
    .content-main {
        margin-top: 5%;
    }
    .info-main {
        width: 80%;
    }
    .person-main {
        img {
            width: 30em;
            height: 25em;
        }
    }
    .image-container {
        img:first-child {
            left: 30px;
        }
        img:nth-child(2) {
            width: 30em;
            height: 30em;
        }
    }
    .second-content {
        padding-left: 10%;
        padding-right: 10%;
    }
    .text-container-second {
        margin-left: 15%;
    }
    .nav-with-text {
        width: 30em;
    }
    .button-text {
        flex-direction: column;
        justify-content: center;
    }
    .video-content {
        i {
            font-size: 1.3em;
            line-height: 1.8;
        }
        a {
            position: absolute;
            top: 36%;
            left: 43%;
            width: 2.4em;
            height: 2.4em;
        }
    }
    .third-content,
    .seventh-content,
    .contact-content {
        padding-left: 13%;
        padding-right: 13%;
    }
    .content-in-service,
    .contan-for-plan {
        display: flex;
        flex-direction: column;
    }
    .item-in-card,
    .item-in-plan {
        width: 100%;
    }
    .item-in-plan {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .item-in-works {
        width: 48%;
    }
    .button-in-work {
        width: 60%;
    }
    .item-in-works {
        img {
            height: 14em;
        }
    }
    .works-content {
        height: 61%;
    }
    .item-in-seven {
        width: 45%;
        height: 16em;
        img {
            height: 13em;
        }
    }
    .eighth-content {
        > div {
            width: 99%;
        }
    }
    .container-for-blog {
        flex-direction: column;
        align-items: center;
    }
    .item-in-blog {
        width: 85%;
        margin-bottom: 5%;
        margin-right: 0%;
    }
    .picture,
    .content-picture {
        width: 100%;
        height: 20em;
    }
    .customer-container {
        padding-left: 5%;
        padding-right: 5%;
    }
    #carousel-example-indicators {
        width: 100%;
    }
    .container-with-contact {
        flex-direction: column;
        width: 100%;
    }
    .item-in-contact,
    .form-in-touch {
        width: 100%;
    }
    .row {
        flex-direction: column;
    }
    .row input {
        width: 100%;
        margin-bottom: 5%;
    }
    .content-in-footer {
        flex-direction: column;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
    }
    .item-in-footer {
        width: 100%;
        text-align: center;
    }
    .logo-picture {
        width: 100%;
    }
}

@media all and (max-width: 40em) {
    .content-main {
        margin-top: 10%;
        padding-left: 0;
        padding-right: 0;
    }
    .third-content,
    .fourth-content,
    .sixth-content,
    .seventh-content {
        padding-left: 5%;
        padding-right: 5%;
    }
    .text-container-second {
        margin-left: -10%;
    }
    .cont-for-wors,
    .content-in-seven {
        flex-direction: column;
        padding: 0;
    }
    .item-in-works,
    .item-in-seven {
        width: 100%;
    }
    .item-in-seven {
        height: 30em;
        margin: 0 0 5% 0;
        img {
            height: 27em;
        }
    }
    .works-content {
        top: 2%;
        left: 2%;
        width: 91%;
        height: 75%;
    }
    .item-in-works {
        img {
            height: 23em;
        }
    }
    .button-in-work {
        width: 70%;
    }
    .eighth-content,
    .blog-container,
    .conten-with-client,
    .content-in-footer {
        padding-left: 1%;
        padding-right: 1%;
    }
    .eighth-content {
        > div {
            width: 99%;
        }
    }
    .nav-with-text {
        width: 28em;
    }
    .main-in-service {
        h2 {
            font-size: 2em;
        }
        p {
            font-size: 15px;
        }
    }
}
