
 @media all and (max-width: 70em){
    .content-main{
        padding: 15% 2% 10% 5%;
    }
    .person-main{
        img{
            width: 28em;
            height: 23em; 
        }        
    }
    .image-container{
        img:nth-child(2){
           width: 25em;
           height: 25em;  
        }        
    }
    .video-content {
        img{
            width: 95%;
        }
    }
    .buttonInWork{    
        width: 80% !important;
        button{
            visibility: visible !important;
        }
    }
    .fifth-content, .contentInFooter{
        padding-left: 0% !important;
        padding-right: 0% !important;
    }
    .seventh-content, .blog-container ,.contact-content{
        padding-left: 3% !important;
        padding-right: 3% !important;
    }
    .itemInWorks {
        margin-bottom: 5% !important;
        img{
            height: 67%;
        }
    }
    .works-content{
        height: 62%;
    }
    .itemInSeven {
        img{
            height: 20em;
        }
    }
    .eighth-content {
        > div{
            width: 70% !important;
        }
    }
    .picture, .contentPicture{
        height: 13em;
    }
    .contentInContacts{
        flex-direction: column;
        justify-content: space-between;
    }
    .containerWitContact{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .iteminContact{
        margin-bottom: 3% !important;
        margin-right: 2%;
        width: 47% !important;
    }
    .formInTouch{
        width: 100%;
    }
    .itemInFooter{
        width: 29%;
    }    
    .minWidt{
        width: 10% ;
    }
}

@media all and (max-width: 60em){
    #menuRight{
        display: none !important;
    }
    #menuMain{
        display: block !important;
    }
    .togle-menu, .nav{
        visibility: hidden !important;
    }
    #logoComp{
        opacity: 1 !important;
    }
    .navbar-toggler, #logoComp{
        visibility: visible;
    }
    .content-main{
        flex-direction: column;
        padding-left: 10%;
        padding-right: 10%;
    }
    .infoMain{
        width: 100%;
    }
    .infoMain h1{
        font-size: 2.3em;
    }
    .text-main{
        font-size: 15px;
    }
    .person-main{
        img{
            margin-top: 5%;
            width: 48em;
            height: 35em;
        }
    } 
    .second-content{
        flex-direction: column;
    }
    .image-container {
        img:nth-child(2){
            width: 43em;
            height: 37em;
        }
    }
    .text-container-second{
        width: 100%; 
        margin-top: 10%;  
    }
    .tab-pane {
        p{
            width: 100%;
        }
    }
    .third-content{
        padding-left: 3%;
        padding-right: 3%;
    }
    .contentInService{
        justify-content: center;
    }
    .itemInCard{
        width: 43% !important;
    }
    .buttonInWork {
        button{
            font-size: 14px;
        }
    }
    .fifth-content{
        padding-left: 5%;
        padding-right: 5%;
    }
    .seventh-content, .blog-container, .contentInFooter{
        padding-left: 10% !important;
        padding-right: 10% !important;
    }
    .contForWors{
        justify-content: space-between;
        align-items: center;
        padding-left: 10%;
    }
    .itemInWorks{
        width: 50% !important;
        position: relative;
        margin-bottom: 5% !important;
    }
    .itemInWorks {
        img{
            height: 17em;
        }
    }
    .works-content{
        height: 66% !important;
    }
    .contanForPlan, .contentInSeven, .containerForBlog, .contentInFooter{
        flex-wrap: wrap;
        justify-content: start;
    }
    .itemInPlan, .itemInSeven, .itemInBlog, .itemInFooter{
        width: 45% !important;
        margin-bottom: 5%;
        margin-right: 5%;
    }
    .itemInFooter{
        font-size: 15px;
    }
    .eighth-content {
        > div{
            width: 65%;
            font-size: 15px;
        }
    }
    .iteminContact{
        flex-direction: column;
    }
    .pictureForContact{
        margin-bottom: 20px;
    }
    .picture, .contentPicture{
        height: 15em;
    }
    .contentInClients{
        margin: 0 3% 0 3%;
    }
    .contentInContacts{
        justify-content: center;
        align-items: center;
    }
    .formInTouch, .containerWitContact{
        width: 80%;
    }
}

@media all and (max-width: 50em){
    .content-main{
        margin-top: 5%;
    }
    .infoMain{
        width: 80% !important;
    }
    .person-main {
        img{
            width: 30em;
            height: 25em;
        }
    }
    .image-container {
        img:first-child{
            left:30px;
        }
    }
    .image-container {
        img:nth-child(2){
            width: 30em;
            height: 30em;
        }
    }
    .second-content{
        padding-left: 10%;
        padding-right: 10%;
    }
    .text-container-second{
        margin-left: 15%;
    }
    .navWithText{
        width: 30em;        
    }
    .button-text{
        flex-direction: column !important;
        justify-content: center;
    }
    .video-content{
        i{
            font-size: 1.3em !important;
            line-height: 1.8 !important;
        }
        a{
            position: absolute;top:36% !important; left:43% !important;
            width: 2.4em !important;
            height: 2.4em !important;
        }
    }
    .third-content, .seventh-content, .contact-content{
        padding-left: 13% !important;
        padding-right: 13% !important;
    }
    .contentInService, .contanForPlan{
        display: flex;
        flex-direction: column;
    }
    .itemInCard, .itemInPlan{
        width: 100% !important;
    }
    .itemInPlan{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .itemInWorks{
        width: 48% !important;
    }
    .buttonInWork{
        width: 60% !important;
    }
    .itemInWorks {
        img{
            height: 14em !important;
        }
    }
    .works-content{
        height: 61% !important;
    }
    .ulPric{
        margin-left: -50%;
    }
    .itemInSeven {
        width: 45% !important;
        height: 16em !important;
        img{
            height: 13em !important;
        }
    }
    .eighth-content {
        > div{
            width: 99% !important;
        }
    }
    .containerForBlog{
        flex-direction: column;
        align-items: center;
    }
    .itemInBlog{
        width: 85% !important;
        margin-bottom: 5%;
        margin-right: 0%;
    }
    .picture, .contentPicture{
        width: 100% !important;
        height: 20em;
    }
    .customer-container{
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    #carouselExampleIndicators{
        width: 100% !important;
    }
    .containerWitContact{
        flex-direction: column;
        width: 100%;
    }
    .iteminContact, .formInTouch{
        width: 100% !important;
    }
    .row{
        flex-direction: column !important;
    }
    .row input{
        width: 100%;
        margin-bottom: 5%;
    }
    .contentInFooter{
        flex-direction: column;
        align-items: center;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    .itemInFooter{
        width: 100% !important;
        text-align: center;
    }
    .logoPicture{
        width: 100%;
    }
}

@media all and (max-width: 40em){
    .content-main{
        margin-top: 10%;
        padding-left: 0;
        padding-right: 0;
    }
    .third-content, .fourth-content, .sixth-content, .seventh-content{
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    .text-container-second{
        margin-left: -10%;
    }
    .contForWors, .contentInSeven{
        flex-direction: column !important;
        padding: 0;
    }
    .itemInWorks, .itemInSeven{
        width: 100% !important;
    }
    .itemInSeven {
        height: 30em !important;
        margin: 0 0 5% 0;
        img{
            height: 27em !important;
        }
    }
    .works-content{
        top: 2%;left: 2%;
        width: 91% !important;
        height: 75% !important;
    }
    .itemInWorks {
        img{
            height: 23em !important;
        }
    }
    .buttonInWork{   
        width: 70%;
    }
    .eighth-content, .blog-container, .contenWitClient, .contentInFooter{
        padding-left: 1% !important;
        padding-right: 1% !important;
    }
    .eighth-content {
        > div{
            width: 99%;
        }
    }
    .navWithText{
        width: 28em;
    }
    .mainInService {
        h2{
            font-size: 2em;
        }
    }
    .mainInService {
        p{
            font-size: 15px;
        }
    }
    
} 