@import "variables";

.fifth-content {
    background-color: map-get($theme-colors, "second");
    padding: 10% 3% 10% 3%;
}
.nav-with-works {
    @extend %display-center;
    margin-top: 5%;
    button {
        border: none;
        color: map-get($theme-colors, "text") !important;
        font-size: 17px;
        font-weight: 700;
    }
}
.button-in-work {
    border-bottom: none !important;
    display: flex;
    justify-content: space-around;
    width: 60%;
    button {
        border: none !important;
        position: relative;
        font-weight: 700 !important;
        font-size: 16px !important;
        line-height: 48px !important;
    }
    button:hover {
        color: map-get($theme-colors, "main") !important;
    }
    button.active {
        color: map-get($theme-colors, "main") !important;
        background-color: transparent !important;
        border: none !important;
        position: relative;
        opacity: 1;
    }
    button.active::before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        height: 4px;
        width: 100%;
        background-color: map-get($theme-colors, "main");
        border-radius: 4px;
        opacity: 1;
    }
    button::before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        height: 4px;
        width: 100%;
        background-color: map-get($theme-colors, "main");
        border-radius: 4px;
        opacity: 0;
    }
    button:hover::before {
        opacity: 1;
    }
}
.cont-for-wors {
    @extend %display-row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5%;
}
.item-in-works {
    width: 33%;
    position: relative;
    margin-bottom: 2%;
    img {
        border-radius: 10px;
        height: 76%;
        width: 95%;
        max-width: 100%;
    }
    h4 {
        font-size: 24px;
        line-height: 30px;
        font-weight: 600;
        line-height: 1.5;
        margin-top: 15px;
    }
    p {
        color: black;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        width: 97%;
    }
    &:hover .works-content {
        opacity: 1;
    }
}
.works-content {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 91%;
    height: 72%;
    @extend %display-row;
    justify-content: center;
    align-items: center;
    border: solid 1px map-get($theme-colors, "second");
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: all 0.3s ease-out 0s;
}
.icon-in-item {
    border: map-get($theme-colors, "main") solid 1px;
    background-color: map-get($theme-colors, "main");
    color: map-get($theme-colors, "second");
    padding: 15px;
    border-radius: 10px;
    @extend %display-center;
    margin-right: 10px;
    font-size: 1.5em;
    transition: all 0.4s ease-out 0s;
    &:hover {
        background-color: map-deep-get($theme-colors, "border", "blue");
        border: map-deep-get($theme-colors, "border", "blue") solid 1px;
        cursor: pointer;
    }
}
