@import "variables";

.sixth-content {
    background-color: map-get($theme-colors, "background-grey");
    padding: 10% 5%;
}
.contan-for-plan {
    @extend %display-space-between;
}
.item-in-plan {
    border: solid 1px map-deep-get($theme-colors, "border", "grey");
    width: 32%;
    padding: 3%;
    border-radius: 10px;
    background-color: map-get($theme-colors, "second");
    transition: all 0.3s ease;
    &:hover {
        box-shadow: map-deep-get($theme-colors, "shadow-for", "box");
    }
    .text-center {
        font-weight: 500;
        line-height: 20px;
        font-size: 16px;
        padding: 8px 20px;
    }
    p {
        width: 90%;
        @extend %style-for-p;
    }
    h2 {
        font-weight: 600;
        font-size: 55px;
        line-height: 68.75px;
        position: relative;
    }
    button {
        border: map-get($theme-colors, "main") solid 1px;
        border-radius: 5px;
        color: map-get($theme-colors, "main");
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        padding: 12px 24px;
        background-color: transparent;
    }
    button:hover {
        border: map-deep-get($theme-colors, "border", "blue") solid 1px;
        border-radius: 5px;
        color: map-get($theme-colors, "second");
        background-color: map-deep-get($theme-colors, "border", "blue");
    }
}
.doll {
    font-weight: 400;
    color: map-get($theme-colors, "text");
    font-size: 20px;
    line-height: 25px;
    position: absolute;
    left: -13px;
    top: 10px;
}
.per-month {
    font-weight: 400;
    color: map-get($theme-colors, "text");
    font-size: 20px;
    line-height: 22.5px;
}
.selected-plan {
    box-shadow: map-deep-get($theme-colors, "shadow-for", "box");
    .text-center {
        color: map-get($theme-colors, "second");
        background-color: map-get($theme-colors, "main");
    }
    button {
        color: map-get($theme-colors, "second");
        background-color: map-get($theme-colors, "main");
    }
}
.ul-price {
    list-style: none;
    text-align: start;
    color: map-get($theme-colors, "text");
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    margin-left: -30px;
    li {
        margin-bottom: 10px;
    }
}
.color-in-li {
    color: map-get($theme-colors, "main");
}
