@import 'variables';

.sixth-content{
    background-color: $background-color-grey;
    padding: 10% 5%;
}
.contanForPlan{
    @extend %display-space-between;
}
.itemInPlan{
    border: solid 1px $border-color-grey;
    width: 32%;
    padding: 3%;
    border-radius: 10px;
    background-color: $secondColor;
    transition: all .3s ease;
    &:hover{
        box-shadow: $shadow-for-box;
    }
    .text-center{
        font-weight: 500;
        line-height: 20px;
        font-size: 16px;
        padding: 8px 20px;
    }
    p{
        width: 90% !important;
        font-weight: 400 !important;
        font-size: 16px !important;
        line-height: 24px !important;
    }
    h2{
        font-weight: 600 !important;
        font-size: 55px !important;
        line-height: 68.75px !important;
        position: relative;
    }
    button{
        border: $mainColor solid 1px;
        border-radius: 5px;
        color: $mainColor;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        padding: 12px 24px;
        background-color: transparent;
    }
    button:hover{
        border: $border-color-blue solid 1px;
        border-radius: 5px;
        color: $secondColor;
        background-color: $border-color-blue;
    }
}
.doll{
    font-weight: 400;
    color: $textColor;
    font-size: 20px;
    line-height: 25px;
    position: absolute;left: -13px; top: 10px;
}
.perMon{
    font-weight: 400;
    color: $textColor;
    font-size: 20px;
    line-height: 22.5px;
}
.selectedPlan{
    box-shadow: $shadow-for-box;
    .text-center{
        color: $secondColor;
        background-color: $mainColor;
    }
    button{
        color: $secondColor;
        background-color: $mainColor;
    }
}
.ulPric{
    list-style: none;
    text-align: start;
    color: $textColor;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    margin-left: -30px;
    li{
        margin-bottom: 10px;
    }
}
.colorInLi{
    color: $mainColor;
}