@import "variables";

.seventh-content {
    background-color: map-get($theme-colors, "second");
    padding: 10%;
}
.content-in-seven {
    @extend %display-space-between;
}
.item-in-seven {
    width: 32%;
    height: 100%;
    border: solid 1px map-deep-get($theme-colors, "border", "grey");
    border-radius: 10px;
    position: relative;
    box-shadow: map-deep-get($theme-colors, "shadow-for", "team");
    img {
        width: 100%;
        height: 26em;
        border-radius: 10px;
    }
    &:hover .team-social {
        visibility: visible;
        opacity: 1;
        z-index: -1;
        height: 120%;
    }
    h4 {
        font-size: 22px;
        font-weight: 600;
        line-height: 30px;
        color: black;
        margin-bottom: -10px;
    }
    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-top: 10px;
        color: map-get($theme-colors, "main");
    }
    &:hover h4 {
        color: map-get($theme-colors, "second");
        z-index: 5;
    }
    &:hover p {
        color: map-get($theme-colors, "second");
        z-index: 5;
    }
}
.team-content {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 0 10px 10px;
    background-color: map-get($theme-colors, "second");
    padding: 20px 0 20px 0;
    width: 100%;
    z-index: 5;
    transition: all 0.3s ease-out 0s;
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        background-color: map-get($theme-colors, "main");
        content: "";
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: all 0.3s ease-out 0s;
        opacity: 0;
    }
}
.ul-in-team {
    list-style: none;
    padding: 10px 20px 6px;
    border-radius: 50px;
    background-color: map-get($theme-colors, "second");
    position: absolute;
    top: -20px;
    right: 26%;
    width: 50%;
    @extend %display-row;
    justify-content: space-around;
    align-items: center;
    color: map-get($theme-colors, "text");
    li:hover {
        color: map-get($theme-colors, "main");
        cursor: pointer;
    }
}
.team-social {
    background-color: map-get($theme-colors, "main");
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
    transition: all 0.3s ease-out 0s;
    visibility: hidden;
    opacity: 0;
}
.eighth-content {
    padding: 5% 10% 5% 10%;
    background: linear-gradient(45deg, map-get($theme-colors, "main"), map-deep-get($theme-colors, "border", "blue"));
    position: relative;
    z-index: 2;
    @extend %display-column;
    justify-content: center;
    align-items: center;
    &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-image: $image-in-team-section;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        z-index: -1;
    }
    > div {
        width: 48.5%;
        text-align: center;
    }
    h2 {
        color: map-get($theme-colors, "second");
        @extend %style-for-h2;
    }
    p {
        color: map-get($theme-colors, "second");
        font-weight: 400;
        line-height: 24px;
        font-size: 16px;
    }
    button {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        padding: 12px 24px;
        border-radius: 5px;
        border: solid 1px map-get($theme-colors, "second");
        color: map-get($theme-colors, "second");
        background-color: transparent;
    }
    button:hover {
        border: solid 1px map-get($theme-colors, "second");
        color: map-get($theme-colors, "main");
        background-color: map-get($theme-colors, "second");
    }
}
.customer-container {
    background-color: map-get($theme-colors, "background-grey");
    padding: 10%;
    position: relative;
}
#carousel-example-indicators {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.carousel-item {
    padding: 70px 50px;
    background-color: map-get($theme-colors, "second");
    border-radius: 5px;
    position: relative;
    height: 20em;
}
.carousel-indicators {
    position: absolute;
    bottom: -20% !important;
    button {
        background-color: map-get($theme-colors, "main") !important;
        border-radius: 5px !important;
        height: 4px !important;
        border: solid 1px map-get($theme-colors, "main") !important;
        width: 14px !important;
        transition: all 0.4s ease !important;
    }
    button.active {
        width: 30px !important;
    }
}
.ball-pict {
    position: absolute;
    top: 0;
    left: 40px;
}
.ball-arrow-pict {
    position: absolute;
    bottom: -20px;
    right: -20px;
}
.hooks {
    color: map-get($theme-colors, "hooks") !important;
    font-size: 70px !important;
    position: absolute;
    top: 100px;
    right: 100px;
}
.text {
    font-weight: 500;
    line-height: 28px;
    color: map-get($theme-colors, "text");
    margin-top: 2%;
    font-size: 16px;
    width: 95%;
    z-index: 3;
    position: relative;
}
.text-content {
    @extend %display-row;
    margin-top: 5%;
    img {
        height: 70px;
        width: 70px;
        border-radius: 50%;
    }
    h4 {
        font-size: 18px;
        color: black;
        font-weight: 600;
        line-height: 22.5px;
        margin-top: 10px;
        padding-left: 20px;
    }
}
.deg {
    color: map-get($theme-colors, "text");
    display: block;
    font-size: 15px;
    font-weight: 400;
    margin-top: 4px;
    line-height: 17.5px;
}
