:root{
    --mainColor:#155bd5;
    --second-color:white;
    --text-color:#6d6d6d;
}

.content-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10% 6% 7% 6%;
    color: var(--second-color);
    margin-top: 0;
    background-color: var(--mainColor);
    z-index: 9;
}
.infoMain{
    width: 47%;
}
.infoMain h1{
    font-weight: bold;
    font-size: 2.9em;
}
.infoMain:first-child{
    margin-right: 2%;
}
.text-main{
    color: rgb(208, 213, 223);
    font-size: 17px;
}
.button-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 53%;
}
.button-main div{
    font-weight: 600;
    font-size: 1.1em;
}
.button-main button{
    height: 3em;
    background-color: var(--second-color);
    color: var(--mainColor);    
    border: solid 1px var(--second-color);
    cursor: pointer;
}
.getStarted{
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    padding: 0 30px 0 30px;
    line-height: 1.5;
}
.getStarted:hover{
    background-color: transparent;
    color: var(--second-color);    
}
.button-main button:nth-child(2){
    border-radius: 50%;
    padding: 0px 10px 5px 10px;
}
.play-button{
    font-size: 25px;
    font-weight: lighter;
}
.person-main img{
    width: 40em;
    height: 31em;
    border-radius: 10px;
}
.second-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10% 10% 10% 10%;
    align-items: center;
    background-color: #fafafa;
}
.image-container{
    position: relative;
    z-index: 2;
}
.image-container img:first-child{
  position: absolute;top: -28px;left:-30px;
  z-index: -1;
}
.image-container img:nth-child(2){
    width: 35em;
    height: 35em;
    z-index: 2;
}
.text-container-second{
    width: 45%;   
}
.text-container-second h6{
    position: relative;
    padding-left: 30px;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 600;
}
.text-container-second h6::before{
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    background-color: var(--mainColor);
    height: 2px;
    width: 20px;
    margin-top: -1px;
}
.text-container-second h2{
    font-weight: 700;
    font-size: 2.2em;
}
.navWithText{
    background-color: #efefef;
    padding: 10px;
    border-radius: 5px;
}
.button-text{
    display: flex;
    justify-content: flex-start;
    border-bottom: none !important;
}
.navWithText button{
    color: black !important;
    font-weight: 600;
    border-radius: 5px;
    margin-left: 30px;
    background-color: #fafafa !important;
}
.navWithText button:hover{
    color: var(--mainColor) !important;
    transition: none !important;
}
.nav button.active{
    background-color: var(--mainColor) !important;
    color: var(--second-color) !important;
}
.tab-pane p{
    color: var(--text-color);
    font-size: 17px;
}

.main{
    background-color: var(--mainColor);
    position: fixed;top: 0;
    width: 100%;
    height: 5em;
    z-index: 10;
    padding: 0 0 0 4%;
}

#menuRight{
    background-color: var(--mainColor) !important;
}
.container-fluid{
    width: 55% !important;
    margin-left: 3% !important;
}
#navbarTogl{
    color: var(--second-color) !important;
    border: none;
    margin-right: -3% !important;
    margin-top: -7px;
}
#navbarTogl:hover i{
    color: var(--mainColor) !important;
    border: solid 1px var(--second-color);
    background-color: var(--second-color);
}
#navbarTogl i{
    line-height: 1.5;
    font-size: 1.3em;
    border: solid 1px #e0e0e0;
    border-radius: 50%;
}
.nav-item p{
    color: var(--text-color);
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}
.nav-link{
    color: rgb(224, 234, 251) !important;
    padding-top: 10px !important;
    font-weight: 400;
    font-size: 1.03em;
    margin-right: 0 !important;
}
.navbar-nav-in-menu{
    list-style-type: none;
}
.nav-link-in-menu{
    color: var(--text-color);
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 0 20px 0;
    transition: all .3s ease-out 0s;
}
.nav-link-in-menu:hover{
    margin-left: 10px;
    cursor: pointer;
}
.nav-link:not(:first-child){
    margin-top: 6px;
}
.socNet{
    margin-left: 8%;
    margin-top: 10%;
}
.socNet i{
    margin: 5% 3% 0 0;
    border: solid 1px #eee;
    border-radius: 50%;
    font-size: 18px;
    width: 38px;
    height: 38px;
    color: #666;
    padding: 5px 10px 5px 10px;
    line-height: 1.5;
}
.socNet i:hover{
    cursor: pointer;
    background-color: var(--mainColor);
    color: var(--second-color);
    border: solid 1px var(--mainColor);
}
.btn-close{
    font-size: 20px;    
}
.btn-close:hover {
    transform: rotate(90deg) !important;
    transition: all .3s ease;
}
.navbar-toggler{
    position: absolute; top: 20px; right: 10%;
}
#menuRight{
    display: block;
}
#menuMain{
    display: none;
}
.navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: var(--second-color) !important;
    margin: 5px 0;
    display: block;
    position: relative;
    transition: all .3s ease-out 0s;
}
.navbar-toggler.collapsed .toggler-icon{
    transform: none !important;
}
.navbar-toggler.collapsed .toggler-icon:nth-of-type(1) {
    top: 0px;
}
.navbar-toggler.collapsed  .toggler-icon:nth-of-type(2) {
    display: block;
}
.navbar-toggler .toggler-icon:nth-of-type(2) {
    display: none;
}
.navbar-toggler .toggler-icon:nth-of-type(1) {
    transform: rotate(45deg) ;
    top: 7px;
}
.navbar-toggler .toggler-icon:nth-of-type(3) {
    transform: rotate(-45deg) ;
    top: 0px;
}
.navbar-toggler.collapsed{
    border: solid 1px transparent;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
.navbar-collapse{
    padding-left: 3% !important;
    margin-left: 7%;
    width: 85%;
    background-color: var(--mainColor);
    position: fixed;top: 5em;
    z-index: 10;
}
.navbar-nav a{
    color: var(--second-color) !important;
    text-decoration: none; 
    font-size: 15px !important;   
}
.navbar-nav li{
    margin-bottom: 2%;
}
.togle-menu{
    color: var(--second-color);
    border: solid 1px rgb(228, 226, 226,0.5);
    display: inline-block;
    position: absolute; top: 20px; right: 10%;
    font-size: 1.5em;
    border-radius: 50%;
    padding: 1px 7px 1px 7px;
}
.togle-menu:hover{
    background-color: var(--second-color);
    color: var(--mainColor);
    cursor: pointer;
}
