:root{
    --mainColor:#155bd5;
    --second-color:white;
    --text-color:#6d6d6d;
}

.fifth-content{
    background-color: var(--second-color);
    padding: 10% 3% 10% 3%;
}
.navWithWorks{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.navWithWorks button{
    border: none;
    color: var(--text-color) !important;
    font-size: 17px;
    font-weight: 700;
}
.buttonInWork{
    border-bottom: none !important;
    display: flex;
    justify-content: space-around;    
    width: 60%;
}
.buttonInWork button.active{
    color: var(--mainColor) !important;
    background-color: transparent !important;
    border: none !important;
    position: relative;
}
.buttonInWork button::before{
    position: absolute ; bottom: 0; left: 0;
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--mainColor) ;
    border-radius: 4px ;
    opacity: 0;
}
.buttonInWork button.active::before{
    position: absolute; bottom: 0; left: 0;
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--mainColor);
    border-radius: 4px;
    opacity: 1;
}
.buttonInWork button{
    border: none !important;
    position: relative;
}
.buttonInWork button:hover{
    color: var(--mainColor) !important;
}
.buttonInWork button:hover::before{
    opacity: 1;
}
.contForWors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5%;
}
.itemInWorks{
  width: 33%;
  position: relative;
  margin-bottom: 2%;
}
.itemInWorks img{
    border-radius: 10px;
    height: 76%;
    width: 95%;
    max-width: 100%;
}
.itemInWorks h4{
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 15px;
}
.itemInWorks p{
    color: black;
    font-weight: 400;
    font-size: 1.03em;
    width: 97%;
}
.itemInWorks:hover .works-content{
    opacity: 1;
}
.works-content{
    position: absolute;top: 2%;left: 2%;
    width: 90%;
    height: 72%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 1px  var(--second-color);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: all .3s ease-out 0s;
}
.iconInItem{
    border: var(--mainColor) solid 1px;
    background-color: var(--mainColor);
    color: var(--second-color);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 1.5em;
    transition: all .4s ease-out 0s;
}
.iconInItem:hover{
    background-color: #1c3ab6;
    border: #1c3ab6 solid 1px;
    cursor: pointer;
}