$mainColor: #155bd5;
$secondColor: white;

.blog-container{
    background-color: $secondColor;
    padding: 10%;
}
.containerForBlog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.itemInBlog{
    width: 32%; 
    h4{
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;        
    }
    h4:hover{
        cursor: pointer;
        color: $mainColor;
    }  
    p{
        color: #6d6d6d;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
}
.picture{
    width: 25em;
    height: 18em;
    border-radius: 5px;
    transition: all .5s ease-out;
}
.itemInBlog:hover .picture{ 
    overflow: hidden;
    transform: skew(-2deg,2deg) scale(1.1);
    cursor: pointer;   
}
.contentPicture{
    position: relative;
    border-radius: 5px; 
    overflow: hidden;
    height: 18em;
    display: flex;
    justify-content: center;
}

.meta-conetn{
    position: absolute;bottom: 20px; right: 15px;
    display: inline-block;
    border: $mainColor solid 1px;
    background-color: $mainColor;
    border-radius: 30px;
    padding: 6px 15px 6px 7px;
    img{
        width: 28px;
        height: 28px;
        border-radius: 50%;
    }
    span{
        color: $secondColor;
        margin-left: 10px;
        font-size: 10px;
        font-weight: 500;
    }
}
.contentInClients{
    text-align: center;
    display: inline-block;
    margin: 0 15% 0 15%;
}
.itemInClients{
    display: inline-block;
    margin: 13px 10px ;
    background-color: $mainColor;
    line-height: 100px;
    padding: 8px 25px;
    border-radius: 10px;
    border: solid 1px #eee;
    transition: all .4s ease-out 0s;
    img{
        max-width: 170px;
    }
}
.itemInClients:hover{
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.041);
    transform: translateY(-5px);
    cursor: pointer;
}