:root{
    --mainColor:#155bd5;
    --second-color:white;
    --text-color:#6d6d6d;
}

.third-content{    
    padding: 10% 5% 10% 5%;
}
.mainInService{   
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}
.mainInService div{
    color: var(--mainColor);
    font-weight: 600;
    border: solid 2px var(--mainColor); 
    padding: 5px 25px 5px 25px;
    border-radius: 30px;
}
.mainInService h2{
    font-weight: 700;
    font-size: 2.25em;
    line-height: 1.5;
}
.mainInService p{
    width: 31em;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.05em;
}
.contentInService{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.itemInCard{
    border: solid 1px #efefef;
    border-radius: 10px;
    width: 31%;
    padding: 40px 30px;
    margin: 0 20px 30px 0;
}
.itemInCard:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.itemInCard:hover .serviIcon{
    background-color: var(--mainColor);
    color: var(--second-color);
}
.itemInCard p{
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.5;
}
.serviIcon{
    width: 80px;
    height: 80px;
    border: var(--mainColor) solid 2px;
    border-radius: 50%;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: var(--mainColor);
    transition: all .3s ease-out 0s;
}
.fourth-content{
    background-color: #fafafa;
    padding: 10%;
}
.video-content{
    position: relative;
    margin-top: 20px;
    border-radius: 10px;
}
.video-content img{
    border-radius: 10px;
    height: 80%;
}
.video-content a{
    position: absolute;top:40%; left:50%;
    background-color: var(--mainColor);
    color: var(--second-color);
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: solid 1px var(--mainColor);
    font-size: 30px;
}
.video-content a:hover{
    cursor: pointer;
    background-color: var(--second-color);
    border-color: var(--second-color);
    color: var(--mainColor);
}
.video-content i{
    font-size: 1.8em;
    font-weight: 100;
}